
{% extends "layout.html" %}

{% block content %}
<div class="container mx-auto mt-10 pt-10 container bg-white shadow-md rounded">
  <div class="flex self-center w-full p-6 bg-red-200">
    <div class=" mx-auto pt-6 text-white text-white text-5xl font-mono">Michelin Search</div>
  </div>

  <div class="flex flex-col items-center">
    <form>
        <select class="appearance-none bg-white border border-gray-400 hover:border-gray-500 px-4 py-4 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline m-8
       " name="city">
       <option default>Select City</option>
          {% for city in cities %}
            {%if city.key === selectedCity %}
            <option value="{{ city.key }}" selected >{{ city.name }}</option>
            {%else %}
            <option value="{{ city.key }}">{{ city.name }}</option>
            {%endif %}
          {% endfor %} 
        </select>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" type="submit">Search</button>
    </form>
        {%if selectedCity %}
    
        {% for item in restaurants %}
      
        <div class="sm:w-full md:w-full lg:w-1/2 xl:w-1/2 m-8 rounded overflow-hidden shadow-lg">
          <img src="{{ item.img }}" alt="Sunset in the mountains">
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">{{ item.name }}</div>
            <a href="{{ item.link }}" target="_blank" class="text-gray-700 text-base">
              {{ item.link }}
            </a>
          </div>
        </div>

        {% endfor %} 
        {%else%}
      {%endif %}

    <div id='map' style='width: 400px; height: 300px;'></div>


  </div>

  <script>
    mapboxgl.accessToken ='pk.eyJ1IjoiYnRyYXZlcnN5IiwiYSI6ImNqenY5MThjMDBqZ3YzY3A0N3ppZTA5Y2QifQ.LrFjedgw1wG34TkWCpNtFg';
    const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      zoom: 9,
      center: [-71.157895, 42.707741]
    });

  const restaurants = {{ locations | dump | safe }}

    map.on('load', function() {
      map.addLayer({
        id: 'points',
        type: 'symbol',
        source: {
          type: 'geojson',
          data: {
            type: 'FeatureCollection',
            features: restaurants
          }
        },
        layout: {
          'icon-image': '{icon}-15',
          'icon-size': 1.5,
          'text-field': '{restaurantId}',
          'text-font': ['Open Sans Semibold', 'Arial Unicode MS Bold'],
          'text-offset': [0, 0.9],
          'text-anchor': 'top'
        }
      });
  });
  </script>
</div>
{% endblock %}
