{% extends "layout.html" %}


{% block content %}
  <!DOCTYPE html>

  <section class="container h-screen mx-auto overflow-auto m-12 pt-10 container bg-white shadow-md rounded">
    <article class="flex flex-col items-center self-center w-full border-2 border-white p-6 bg-red-300 shadow-lg">
      <h1 class=" mx-auto pt-6 text-gray-100 text-5xl font-mono ">Reviews</h1>
    </article>

    {% if reviews|length and userId %}
    <div class="flex flex-col items-center px-3 m-8 border-4 border-teal-300 md:mb-0">
      <label class="whitespace-no-wrap block uppercase tracking-wide text-gray-700 text-3xl text-red-300 font-bold mb-2 py-8" for="search">Search Reviews</label>
        <form class="flex flex-col items-center">
        <select class="w-3/4 appearance-none bg-white border border-gray-400 hover:border-gray-500 px-4 py-4 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline m-8" name="restaurant">
          <option default>Select Restaurant</option>
              {% for name in restaurantNames %}
              {%if name === selectedRestaurant %}
              <option value="{{ name }}" selected >{{ name }} </option>
              {%else %}
              <option value="{{ name }}">{{ name }}</option>
              {%endif %}
            {% endfor %} 
        </select>
        <select class="w-3/4 appearance-none bg-white border border-gray-400 hover:border-gray-500 px-4 py-4 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline m-2" name="rating">
          <option default>Select Rating</option>
              {% for rating in ratingsSet %}
              {%if rating === selectedRating %}
              <option value="{{ rating }}" selected >{{ rating }} </option>
              {%else%}
              <option value="{{ rating }}"  >{{ rating }} </option>
              {%endif %}
            {% endfor %} 
        </select>
      <button class="w-full m-8 bg-orange-400 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded-full" type="submit">Search</button>
    </form>
    </div>
    {%endif %}
    {% if selectedReviews|length and userId  %}
    {% for review in selectedReviews %}
    <div class="flex justify-center">
      <div class="flex flex-col w-1/2 m-8 rounded overflow-hidden shadow-lg" >
        <article class="flex items-center self-center w-full border-2 border-white p-6 bg-teal-300 shadow-lg">
          <h3 class=" mx-auto pt-6 text-gray-100 text-3xl font-mono ">{{ review.name }}</h1>
        </article>
        <div class="bg-yellow-400">
          <section class="bg-orange-300">
            <p class="px-8 py-4">{{ review.date }}</p>
          </section>
          <section>
            <p class="px-8 py-4">{{ review.review }}</p>
          </section>
          <section class="bg-purple-300" >
            <p class="px-8 py-4 text-gray-100">{{ review.rating }} star</p>
          </section>
          <section >
            <p class="px-8 py-4">{{ review.courses }} course</p>
          </section>
          <section class="bg-orange-300">
            <p class="px-8 py-4">Eaten: {{ review.meals }}</p>
          </section>
        </div>
        <img src="{{ review.images[0]}}" alt="Sunset in the mountains">
        <div class="flex flex-row items-center justify-center">
          <form action="/reviews" method="post">
            <input type="hidden" id="recordID" name="recordID" value="{{ review.id }}"/>
            <button class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 m-8 rounded-full" type='submit'>Delete</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %} 
   {%endif %}
   {% if not selectedReviews|length and userId %}
    {% for review in reviews %}
    <div class="flex justify-center">
      <div class="flex flex-col w-1/2 m-8 rounded overflow-hidden shadow-lg" >
        <article class="flex items-center self-center w-full border-2 border-white p-6 bg-teal-300 shadow-lg">
          <h3 class=" mx-auto pt-6 text-gray-100 text-3xl font-mono ">{{ review.restaurantname }}</h1>
        </article>
        <div class="bg-yellow-400">
          <section class="bg-orange-300">
            <p class="px-8 py-4">{{ review.date }}</p>
          </section>
          <section>
            <p class="px-8 py-4">{{ review.review }}</p>
          </section>
          <section class="bg-purple-300" >
            <p class="px-8 py-4 text-gray-100">{{ review.rating }} star</p>
          </section>
          <section >
            <p class="px-8 py-4">{{ review.courses }} course</p>
          </section>
          <section class="bg-orange-300">
            <p class="px-8 py-4">Eaten: {{ review.meals }}</p>
          </section>
        </div>
        <img src="{{ review.images[0]}}" alt="Sunset in the mountains">
        <div class="flex flex-row items-center justify-center">
          <form action="/reviews" method="post">
            <input type="hidden" id="recordID" name="recordID" value="{{ review.id }}"/>
            <button class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 m-8 rounded-full" type='submit'>Delete</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %} 
   {%endif %}
   {% if not reviews|length and userId %}
   <div class="flex justify-center mt-12 ">
     <a href="/uploadReview">
      <button class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 m-8 rounded-full" >Create Review</button>
     </a>
   </div>
   {%endif %}
   {% if reviews|length and userId %}
    <div class="flex flex-row space-x-4 items-center justify-center m-10 p-12">
      <a href="?page={{ pageInt + 1 if pageInt<totalPages else 1}}"><button id="next-button" class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded-full">Next</button></a>
      <a href="?page={{ pageInt - 1 if pageInt>1 else 1 }}"><button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full">Previous</button></a>
      <a href="?page=1" ><button class="bg-transparent hover:bg-teal-500 text-teal-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">First</button></a>
      <a href="?page={{ totalPages }}"><button class="bg-transparent hover:bg-red-500 text-red-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Last</button></a>
    </div>
    {%endif %}
   </section>
   <script>

    let myField;

    function printIt() {
    let recordID = document.getElementById('recordID').value
      console.log(recordID);
    }

   </script>
{% endblock %}

