{% extends "layout.html" %}

{% block content %}

<style>
  .image-preview {
    width: 300px;
    min-height: 100px;
    border: 2px solid #FFC0CB;
    margin-top: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #e75480;
  }

  .image-preview__image {
    display: none;
    width: 100%;
  }

  #custom-button{
    padding: 10px;
    color: white;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    white-space: normal;
  }

  #custom-button:hover {
    background-color: #DC143C;
  }

  #custom-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
    white-space: nowrap;
    overflow: auto
  }
</style>
<div class="container mb-8 mx-auto flex flex-col items-center w-full bg-red-100">
  {% if successMessage %}
  <div id="alert-box" class="text-white px-6 py-4 border-0 rounded relative mb-4 mt-16 bg-teal-500">
    <span class="inline-block align-middle mr-8">
      File Uploaded!
    </span>
    <button id="button-alert" class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none">
      <span>×</span>
    </button>
  </div>
  {% endif %}
  {% if duplicateMessage %}
  <div id="alert-box" class="text-white px-6 py-4 border-0 rounded relative mb-4 mt-16 bg-teal-500">
    <span class="inline-block align-middle mr-8">
      Restaurant already Uploaded!
    </span>
    <button id="button-alert" class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none">
      <span>×</span>
    </button>
  </div>
  {% endif %}
  <div class="sm:w-1/2 flex flex-col items-center bg-white rounded shadow-lg p-8 m-6 mt-20 mb-20 mx-auto">
    <h1 class="block w-full text-center text-3xl text-grey-darkest mb-6">Upload Restaurant</h1>
    <form id="form-id" action="/uploadRestaurant" method="post" enctype="multipart/form-data">
        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
          <label class="whitespace-no-wrap block uppercase tracking-wide text-gray-700 text-s font-bold mb-2" for="name">Name</label>
          <input class="form-input border py-2 px-3 text-grey-darkest md:mr-2" type="text" name="name" id="name" required>
        </div>
        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-s font-bold mb-2" for="city">City</label>
          <input class="form-input border py-2 px-3 text-grey-darkest md:mr-2" type="text" name="location" id="location" required>
        </div>
        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-s font-bold mb-2" for="postcode">Postcode</label>
          <input class="form-input border py-2 px-3 text-grey-darkest md:mr-2" type="text" name="postcode" id="postcode" required>
        </div>
        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-s font-bold mb-2" for="grid-state">
            Rating
          </label>
          <div class="relative">
            <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-s font-bold mb-2" for="link">Link</label>
          <input class="form-input border py-2 px-3 text-grey-darkest md:mr-2" type="text" name="link" id="link">
        </div>
        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-s font-bold mb-2" for="genre">Type</label>
          <input class="form-input border py-2 px-3 text-grey-darkest md:mr-2" type="text" name="type" id="type" required>
        </div>
        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
          <input class="form-input mt-8" type="file" name="inpFile" id="inpFile" hidden="hidden" accept="image/*">
          <button type="button" id="custom-button" class="bg-red-300 mt-8 mb-4">Choose a file</button>
          <span id="custom-text">No file chosen</span>
          <div class="image-preview" id="imagePreview">
            <img src="" alt="Image Preview" class="image-preview__image">
            <span class="image-preview__default-text">Image Preview</span>
          </div>
        </div>  
      <br>
        {{ msg }}
      <br>
        <div class="flex flex-col items-center px-3 mb-6 md:mb-0">
            <button class="w-full bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" type="submit">Submit</button>
        </div>
    </form>
  </div>
<script>

  const form = document.getElementById('form-id');
  const inpFile = document.getElementById("inpFile");
  const previewContainer = document.getElementById("imagePreview");
  const previewImage = previewContainer.querySelector(".image-preview__image");
  const previewDefaultText = previewContainer.querySelector(".image-preview__default-text");
  const imageURI = document.getElementById('imageURI');
  const customBtn = document.getElementById("custom-button");
  const customTxt = document.getElementById("custom-text");
  const buttonAlert = document.getElementById("button-alert");
  const alertBox = document.getElementById("alert-box")

  if(buttonAlert) {
    buttonAlert.addEventListener('click', function(){
      alertBox.style.display = "none";
    })
  }
  
  customBtn.addEventListener("click", function() {
    inpFile.click()
  })

  inpFile.addEventListener("change", function() {


  const file = this.files[0];

  if(inpFile.value) {
    customTxt.innerHTML = inpFile.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/);
  } else {
    customTxt.innerHTML = "No file chosen";
  }


    if (file) {
      const reader = new FileReader();

      previewDefaultText.style.display = "none";
      previewImage.style.display = "block";

      reader.addEventListener("load", function(){

        previewImage.setAttribute("src", this.result);
  
      })


      reader.readAsDataURL(file); 

    } else {
      previewDefaultText.style.display = "null";
      previewImage.style.display = "null";
      previewImage.setAttribute("src", "");
    }
  })

</script>
</div>
{% endblock %}
