{% extends "layout.html" %}

{% block content %}
<div class="container mb-8 mx-auto flex w-full bg-red-100">
  <div class="grid grid-cols-2 md: mx-auto">

  <div class="w-full h-screen bg-white rounded shadow-lg p-8 m-4 md:max-w-sm md:mx-auto">
    <h1 class="block w-full text-center text-3xl text-grey-darkest mb-6">Restaurant Review</h1>
    <form action="/uploadReview" method="post" enctype="multipart/form-data">
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-s font-bold mb-2" for="name">Name</label>
        <select class="form-input border py-2 px-3 text-grey-darkest md:mr-2" name="name">
          <option default>Select Restaurant</option>
           {% for name in names %}
             {%if name.key === selectedName %}
             <option value="{{ name.key }}" selected >{{ name.key }}</option>
             {%else %}
             <option value="{{ name.key }}">{{ name.name }}</option>
             {%endif %}
           {% endfor %} 
         </select>
      </div>
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-s font-bold mb-2" for="review">Review</label>
        <textarea placeholder="type away" class="form-textarea text-grey-darkest flex-1 p-2 m-1 bg-transparent" name="review" id="review"></textarea>
      </div>
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-s font-bold mb-2" for="courses">Courses</label>
        <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state" name="courses">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
        </select>
      </div>
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-s font-bold mb-2" for="meals">Meals</label>
        <input class="form-input border py-2 px-3 text-grey-darkest md:mr-2" type="text" name="meals" id="meals">
      </div>
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-s font-bold mb-2" for="rating">Rating</label>
        <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state" name="rating">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
      </div>
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <input id="browse" type="file" name="images" onchange="previewFiles()" multiple>    
      </div>  
     <br>
        {{ msg }}
     <br>
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Submit</button>
    </form>
  </div>
  <div class="grid grid-cols-3 gap-4 md:mx-auto mt-8 pr-8" id="preview"></div>
</div>
<script>
  function previewFiles() {

    var preview = document.querySelector('#preview');
    var files   = document.querySelector('input[type=file]').files;
  
    function readAndPreview(file) {
  
      if ( /\.(jpe?g|png|gif)$/i.test(file.name) ) {
        var reader = new FileReader();
  
        reader.addEventListener("load", function () {
          var image = new Image();
          image.height = 10;
          image.title = file.name;
          image.src = this.result;
          preview.appendChild( image );
        }, false);
  
        reader.readAsDataURL(file);
      }
  
    }


  
    if (files) {
      [].forEach.call(files, readAndPreview);
    }
  
  }
  
</script>
</div>
{% endblock %}

