{% extends "layout.html" %}

{% block head %}

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
  <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/eu.min.js"></script>
  
{% endblock %}

{% block content %}
<style>
  #custom-button{
    padding: 10px;
    color: white;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    white-space: normal;
  }

  #custom-button:hover {
    background-color: #DC143C;
  }

  #custom-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
    white-space: nowrap;
    overflow: auto
  }
</style>
<div class="container mb-8 mx-auto flex flex-col items-center w-full bg-red-100">
  {% if successMessage %}
  <div id="alert-box" class="text-white px-6 py-4 border-0 rounded relative mb-4 mt-16 bg-teal-300">
    <span class="inline-block align-middle mr-8">
      Review Uploaded!
    </span>
    <button id="button-alert" class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none">
      <span>×</span>
    </button>
  </div>
  {% endif %}
  <div class="flex flex-col items-center w-full mb-4 p-8">
    <div class="flex flex-col sm:w-full md:w-1/2 items-center bg-white rounded shadow-lg p-8">
      <h1 class="block w-full text-center sm:text-2xl md:text-3xl text-grey-darkest mb-6">Restaurant Review</h1>
        <form action="/uploadReview" method="post" enctype="multipart/form-data">
          <div class="w-full px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-s font-bold mb-2" for="name">Name</label>
            <select class="form-input border py-2 px-3 text-grey-darkest md:mr-2" name="name">
              <option default>Select Restaurant</option>
              {% for name in names %}
                {%if name.key === selectedName %}
                <option value="{{ name.key }}" selected >{{ name.key }}</option>
                {%else %}
                <option value="{{ name.key }}">{{ name.name }}</option>
                {%endif %}
              {% endfor %} 
            </select>
          </div>
          <div class="w-full px-3 mt-8 mb-8">
            <label class="block uppercase tracking-wide text-gray-700 text-s font-bold mb-2" for="review">Review</label>
            <textarea placeholder="type away" class="form-textarea w-full text-grey-darkest flex-1 p-2 m-1 bg-transparent" name="description" id="review"></textarea>
          </div>
          <div class="w-full px-3 mt-8 mb-8">
            <label class="block uppercase tracking-wide text-gray-700 text-s font-bold mb-2" for="courses">Courses</label>
            <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state" name="courses">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
          </div>
          <div class="w-full px-3 mt-8 mb-8">
            <label class="block uppercase tracking-wide text-gray-700 text-s font-bold mt-8 mb-8" for="date">Date</label>
            <input type="text" name="date" id="datepicker">
          </div>
          <div class="w-full px-3 mt-8 mb-8">
            <label class="block uppercase tracking-wide text-gray-700 text-s font-bold mb-2" for="meals">Meals</label>
            <input class="form-input border py-2 px-3 text-grey-darkest md:mr-2" type="text" name="meals" id="meals">
          </div>
          <div class="w-full px-3 mt-8 mb-8">
            <label class="block uppercase tracking-wide text-gray-700 text-s font-bold mb-2" for="rating">Rating</label>
            <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state" name="rating">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
          </div>
          <div class="w-full px-3 p-8">
            <input type="file" name="images" id="inpFile" hidden="hidden" multiple> 
            <button type="button" id="custom-button" class="bg-red-300 mt-8 mb-4">Choose a file</button>
          </div>  
        <br>
            {{ msg }}
        <br>
          <button type="submit" class="bg-teal-400 sm:w-1/2 md:w-full hover:bg-teal-700 text-white font-bold py-2 px-4 rounded-full">Submit</button>
        </form>
    </div>
    <div class="flex flex-col sm:w-full md:w-1/2 p-8">
      <div class="grid grid-cols-3 gap-4 pr-8" id="preview"></div>
    </div>
  </div>
<script>

  var picker = new Pikaday({
    field: document.getElementById('datepicker'),
    toString(date, format) {
        // you should do formatting based on the passed format,
        // but we will just return 'D/M/YYYY' for simplicity
        const day = date.getDate();
        const month = date.getMonth() + 1;
        const year = date.getFullYear();
        return `${year}/${month}/${day}`;
    },
    parse(dateString, format) {
        // dateString is the result of `toString` method
        const parts = dateString.split('/');
        const day = parseInt(parts[0], 10);
        const month = parseInt(parts[1], 10) - 1;
        const year = parseInt(parts[2], 10);
        return new Date(year, month, day);
    }
});

  const d = new Date();

  picker.setDate(d)

  const inpFile = document.getElementById("inpFile");
  const customBtn = document.getElementById("custom-button");
  const buttonAlert = document.getElementById("button-alert");
  const alertBox = document.getElementById("alert-box")

  if(buttonAlert) {
    buttonAlert.addEventListener('click', function(){
      alertBox.style.display = "none";
    })
  }

  customBtn.addEventListener("click", function() {
    inpFile.click()
  })

  inpFile.addEventListener("change", function() {
    var preview = document.querySelector('#preview');
    var files   = document.querySelector('input[type=file]').files;
  
    function readAndPreview(file) {
  
      if ( /\.(jpe?g|png|gif)$/i.test(file.name) ) {
        var reader = new FileReader();
  
        reader.addEventListener("load", function () {
          var image = new Image();
          image.height = 10;
          image.title = file.name;
          image.src = this.result;
          preview.appendChild( image );
        }, false);
  
        reader.readAsDataURL(file);
      }
  
    }
    if (files) {
      [].forEach.call(files, readAndPreview);
    }

  })

</script>
</div>
{% endblock %}